/* Heading font/color */
.THIS[class^="slds-text-heading_"], .THIS [class^="slds-text-heading_"] {
    color: t(headerColor);
    font-family: t(headerFont);
}

/* Paragraph font */
.THIS[class^="slds-text-body"], .THIS [class^="slds-text-body"]{
    font-family: t(bodyFont);
}

/* Sidebar color */
.THIS.slds-nav-vertical, .THIS .slds-nav-vertical{
    color: t(sidebarColor);
}

/* Box background color */
.THIS.dark-background, .THIS .dark-background {
    background-color: t(darkIconBackgroundColor);
    padding: t(darkIconPadding);
    color: t(darkIconFontColor);
}