<template>
    <div class="slds-text-heading_medium slds-text-align_center">CHILD LWC</div>
    <div class="dark-background">
        <lightning-icon icon-name="utility:edit_form" alternative-text="Child LWC Icon" variant="inverse" size="large"
            title="Child LWC Title" class="slds-align_absolute-center"></lightning-icon>
        <div class="slds-text-align_center">Claims</div>
    </div>
    
    <div class="slds-text-body_regular slds-text-align_center test">
        Volutpat ac tincidunt vitae semper quis lectus nulla at volutpat. Quam vulputate dignissim suspendisse in est. Cras pulvinar mattis nunc sed blandit.
    </div>
    
    <ul>
        <li class="slds-align_absolute-center">
            <a href="javascript:void(0);">Massa sed elementum tempus</a>
        </li>
        <li class="slds-align_absolute-center">
            <a href="javascript:void(0);">Aliquam sem et tortor</a>
        </li>
        <li class="slds-align_absolute-center">
            <a href="javascript:void(0);">Ultrices tincidunt</a>
        </li>
        <li class="slds-align_absolute-center">
            <a href="javascript:void(0);">Non quam lacus suspendisse</a>
        </li>
    </ul>
</template>